body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

* {
  box-sizing: border-box;
  font-family: "Red Hat Mono", monospace;
}

.container {
  padding: 0 30px;
}
.movie-nav {
  width: 100%;
  padding: 1% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10%;
}

.search-container,
.search-input {
  background-color: #525252;
  border: none;
  outline: none;
  border-radius: 10px;
}
.search-container {
  position: relative;
  width: 30%;
  height: 32px;
}
.search-input {
  color: #bfbfbf;
  height: 100%;
  width: 100%;
}
.search-icon {
  position: absolute;
  font-size: large;
  color: #bfbfbf;
  top: 1px;
  right: 10px;
}
.search-input::placeholder {
  color: #bfbfbf;
}

.filter {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.selectWrapper {
  width: 60%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #525252;
  background-color: #525252;
  padding: 0 5px;
}
.selectBox {
  width: 100%;
  height: 27px;
  border: 0px;
  background-color: #525252;
  color: #bfbfbf;
  outline: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  flex-grow: 1;
  flex-direction: column;
  padding: 1%;
  margin-bottom: 30px;
}
.text-wrapper {
  padding: 1%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}
.image-wrapper-img {
  display: block;
  width: 100%;
  height: auto;
  border-style: none;
}

.tooltip {
  position: absolute;
  display: inline-block;
  top: 2px;
  right: 3px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #525252;
  color: #bfbfbf;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: -38px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.mask_data {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.image-wrapper:hover .mask_data {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}
.pg_item {
  padding: 10px 18px;
}

.pg_item a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}
.disabled a {
  color: gray;
}
.pg-active {
  background-color: #525252;
  color: black;
}

.pagination_section {
  display: flex;
  list-style: none;
}
.custom-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.changable {
  display: none;
  text-align: center;
  margin-bottom: 1rem;
}
.active {
  color: #ffcc33;
}
@media (max-width: 1120px) {
  .movie-card {
    flex: 1 20%;
  }
  .filter {
    align-self: flex-start;
    width: 30%;
  }
}
@media (max-width: 920px) {
  .movie-card {
    flex: 1 20%;
  }
  .search-container {
    width: 40%;
  }
  .filter {
    align-self: flex-start;
    width: 40%;
  }
}
@media (max-width: 700px) {
  .movie-card {
    flex: 1 46%;
  }
  .movie-card {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 15%;
  }
  .changable {
    display: block;
  }
  .search-container {
    width: 80%;
  }
  .list-container {
    visibility: hidden;
  }
  .pg_item {
    padding: 10px 10px;
  }
  .filter {
    align-self: flex-start;
    width: 60%;
  }
}

@media (max-width: 495px) {
  .movie-card {
    display: flex;
    align-items: center;
  }
  .search-container {
    width: 100%;
  }
  .logo {
    width: 20%;
  }
  .changable {
    display: block;
  }
  .list-container {
    visibility: hidden;
  }
  .pg_item {
    padding: 10px 8px;
  }
  .filter {
    align-self: flex-start;
    width: 80%;
  }
}
